.changePassword{
    height: 500px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.changePassword form{
    height: 70%;
}
.changePassword label{
    margin-right: 15px;
    color: white;
}
.changePassword form input[type=text]{
        border:none;
        border: 1px solid rgba(0,0,0,.5);
        background-color: rgba(0,0,0,.2);;
        padding: 20px 20p 20px 20px;
        height: 23px;
        color: white;
        font-size: 14px;
        margin-bottom: 20px;
   
}
