.Reputation button {
  padding: 3px;
  width: 60px;
  margin-left: 0px;
  color: white;
  background-color: #003169;
}
.Reputation .ContentBox input {
  margin-left: 0px;
  margin-top: 25px;
}

#userRepSelect {
  margin-left: 10px;
  color: white;
  background-color: #003169;
}
.Reputation .ContentBoxHeader h3 {
  margin-bottom: -300px;
  width: 110px;
  border: solid black;
}
